<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="userMapper">-->
<mapper namespace="zui.mapper.UserMapper">

    <insert id="save" parameterType="user">
        insert into user2 values (#{id}, #{username}, #{password}, #{birthday})
    </insert>

    <select id="findById" parameterType="int" resultType="user">
        select * from user2 where id=#{idd}
    </select>

    <select id="findAll" resultType="user">
        select * from user2
    </select>
</mapper>
